<div class="container">
  <div class="row mb-3">
    <h3><%= @user.name %><small>さんのページ</small></h3>
  </div>

  <div class="row align-items-center border-bottom pb-3">
    <div class="col-sm-3">
      <% if @user.image.attached? %>
        <%= image_tag @user.image.variant(resize:"300x300") %>
      <% else %>
        <%= image_tag "no_image2.png" ,size:"300x300",class:"border" %>
      <% end %>
    </div>

    <div class="col-sm-6 mx-auto">
      <table class="table">
        <% if current_user==@user %>
          <p class="text-right"><%= link_to "編集",edit_user_path(@user),class:"btn btn-outline-dark btn-sm" %></p>
        <% else %>
          <p class="text-right"><%= render "layouts/follow",user: @user %></p>
        <% end %>
        <tbody>
          <tr>
            <td>ニックネーム</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>自己紹介</td>
            <td><%= @user.introduction %></td>
          </tr>
          <tr>
            <td>フォロー中</td>
            <td><%= link_to @user.followings.count,user_followings_path(@user) %></td>
          </tr>
          <tr>
            <td>フォロワー</td>
            <td><%= link_to @user.followers.count,user_followers_path(@user) %></td>
          </tr>
          <tr>
            <td>お気に入り</td>
            <td><%= link_to @user.favorites.count,user_favorites_path(@user) %></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="row mt-3">
    <h4>謎投稿一覧</h4>
  </div>

  <div class="row">

  <% if @mysteries.present? %>
    <% @mysteries.each do |mystery| %>
      <div class="col-sm-12 col-md-4 mt-3">
        <%= link_to mystery_path(mystery) do %>
          <div class="card h-100">
            <%= image_tag mystery.question_image ,class:"card-img-top card-height" %>
            <div class="card-body">
              <p class="card-text text-center text-dark border-bottom pb-3">
                <%= mystery.title %>
                <% if mystery.status == "published" %>
                (公開中)
                <% else %>
                (公開待ち)
                <% end %>
              </p>
              <p class="card-text text-center text-dark">
                難易度: <span id="review-rating-<%= mystery.id %>"></span> | <i class="far fa-thumbs-up"></i> <%= mystery.favorites.count %> | <i class="far fa-comment"></i> <%= mystery.comments.count %></p>


          <!--難易度平均表示 jquery.raty.js------------------------------>
              <script>
                $("#review-rating-<%= mystery.id %>").empty();
                $('#review-rating-<%= mystery.id %>').raty({
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true,
                  score: "<%= mystery.comments.average(:rate).to_f.round(1) %>",
                });
              </script>
          <!-------------------------------------------------------------->

            <% if current_user == mystery.user %>
              <%= link_to "編集",edit_mystery_path(mystery),class:"btn btn-warning btn-sm" %>
              <%= link_to "削除",mystery_path(mystery),method: :delete ,data:{confirm:"本当に削除しますか？"},class:"btn btn-danger btn-sm ml-5" %>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <h5>投稿がありません</h5>
  <% end %>

  </div>


</div>
