<div class="container">
  <div class="row">
    <h3>ユーザー一覧(全<%= @user_all.count %>件)</h3>
  </div>
  <div class="row mt-5">
    <% @users.each do |user| %>
      <div class="col-md-3 mb-3">
        <%= link_to admins_user_path(user) do %>
          <div class="card">
            <% if user.image.attached? %>
              <%= image_tag user.image.variant(resize:"800x800") ,class:"card-img-top card-height-admin border" %>
            <% else %>
              <%= image_tag "no_image2.png",size:"800x800" ,class:"card-img-top card-height-admin border" %>
            <% end %>
            <div class="card-body">
              <p class="card-text text-center text-dark"><%= user.name %> |
                <% if user.is_deleted? %>
                <span class="text-danger">退会済</span>
                <% else %>
                有効
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    </div>

    <div class="row justify-content-center">
      <%= paginate @users %>
    </div>

  </div>
