<div class="container">
  <div class="row">
    <div class="col-sm-12 border-bottom">
      <h1 class="text-center my-5">ミステリオ</h1>
      <% if user_signed_in? %>
      <h4 class="text-center mb-5">
        ようこそ <u><%= current_user.name %></u> さん!!
      </h4>
      <% elsif admin_signed_in? %>
      <h4 class="text-center mb-5">
        管理人でログイン中です。<br>
        上記メニューからサイトの管理が可能です。
      </h4>
      <% else %>
      <h4 class="text-center mb-5">
        このサイトで遊ぶためにはログインが必要です。<br>
        登録がお済みでない方は新規登録をお願いします。
      </h4>
      <% end %>
    </div>

    <div class="col-sm-12 text-right mt-5 under">
      <h4 class="text-center">フォロワーの謎一覧</h4>
        <%= link_to "もっと謎を探す ≫", mysteries_path,class:"text-dark" %>
    </div>

    <% @mysteries.each do |mystery| %>
      <div class="col-sm-12 col-md-4 mt-3">
        <%= link_to mystery_path(mystery) do %>
          <div class="card">
            <%= image_tag mystery.question_image ,class:"card-img-top" %>
            <div class="card-body">
              <p class="card-text text-center text-dark border-bottom pb-3"><%= mystery.title %></p>
              <p class="card-text text-center text-dark">
                難易度 |
                <i class="far fa-thumbs-up"></i> <%= mystery.favorites.count %> |
                <i class="far fa-comment"></i> <%= mystery.comments.count %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
