<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-5">
      <h1 class="under"><%= @mystery.title %> の解説</h1>
    </div>

    <% if @mystery.answer_image.attached? %>
    <!--answer画像有-->
      <div class="col-sm-7">
        <%= image_tag @mystery.answer_image.variant(resize:"800x1200") %>
      </div>

      <div class="col-sm-3 ml-auto">
        <h3 class="mb-3">解説</h3>
        <% if @mystery.description.blank? %>
          <p>解説はありません。</p>
        <% else %>
          <%= @mystery.description %>
        <% end %>

      <!--コメント機能-->
      <%= form_with(model:[@mystery,@comment],local:true) do |f| %>
        <%= f.text_area :comment,rows:"10",placeholder:"コメントはこちら",class:"form-control border-dark" %>
        <%= f.submit "送信" ,class:"form-control btn btn-outline-dark border-dark mt-2" %>
      <% end %>

        <p class="mt-5"><%= link_to "もっと謎を解く ≫" ,mysteries_path ,class:"btn btn-outline-dark btn-sm" %></p>
        <p class="mt-3"><%= link_to "戻る" ,mystery_path(@mystery) ,class:"btn btn-outline-dark btn-sm" %></p>
      </div>

    <% else %>
    <!--answer画像なし-->
      <div class="col-sm-12 col-md-7">
        <%= image_tag @mystery.question_image.variant(resize:"800x1200") %>
      </div>

      <div class="col-sm-12 col-md-3 ml-auto">
        <h3 class="mb-3">解説</h3>
        <% if @mystery.description.blank? %>
          <p class="mb-3">解説はありません。</p>
        <% else %>
          <%= @mystery.description %>
        <% end %>

        <!--コメント機能-->
      <%= form_with(model:[@mystery,@comment],local:true) do |f| %>
        <%= f.text_area :comment,rows:"7",placeholder:"コメントはこちら",class:"mt-3 form-control border-dark" %>
        <%= f.submit "送信" ,class:"form-control btn btn-outline-dark border-dark mt-2" %>
      <% end %>

        <p class="mt-3"><%= link_to "もっと謎を解く ≫" ,mysteries_path ,class:"btn btn-outline-dark btn-sm" %></p>
        <p class="mt-3"><%= link_to "戻る" ,mystery_path(@mystery) ,class:"btn btn-outline-dark btn-sm" %></p>
      </div>

    <% end %>

  </div>
</div>