<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-5">
      <h1 class="under"><%= @mystery.title %> の解説</h1>
    </div>

    <% if @mystery.answer_image.attached? %>
      <div class="col-sm-9">
        <%= image_tag @mystery.answer_image.variant(resize:"800x1200") %>
      </div>

      <div class="col-sm-3">
        <h3>解説</h3>
        <% if @mystery.description.blank? %>
          <p>解説はありません。</p>
        <% else %>
          <%= @mystery.description %>
        <% end %>
        <%= link_to "もっと謎を解く ≫" ,mysteries_path ,class:"btn btn-outline-dark btn-sm" %>
      </div>
    <% else %>
      <div class="col-sm-3">
        <h3>解説</h3>
        <% if @mystery.description.blank? %>
          <p>解説はありません。</p>
        <% else %>
          <%= @mystery.description %>
        <% end %>
        <%= link_to "もっと謎を解く ≫" ,mysteries_path ,class:"btn btn-outline-dark btn-sm" %>
      </div>
    <% end %>

  </div>
</div>