<div class="container">
  <div class="row">
    <h3>全ての謎(全<%= @mysteries.count %>件)</h3>
  </div>
  <div class="row justify-content-center my-3">
    <%= render "layouts/genre",genres: @genres,mysteries: @mysteries %>
  </div>

  <div class="row">
     <% @mysteries.each do |mystery| %>
      <div class="col-sm-12 col-md-4 mt-3">
        <%= link_to mystery_path(mystery) do %>
          <div class="card">
            <%= image_tag mystery.question_image ,class:"card-img-top" %>
            <div class="card-body">
              <p class="card-text text-center text-dark border-bottom pb-3"><%= mystery.title %></p>
              <p class="card-text text-center text-dark">難易度 | <i class="far fa-thumbs-up"></i> <%= mystery.favorites.count %> | <i class="far fa-comment"></i> <%= mystery.comments.count %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>