<div class="container">
  <div class="row mb-3">
    <h2><u>謎を投稿する</u></h2>
  </div>
  <span>※必須項目は必ず入力してください！</span>

  <%= form_with model: @mystery,url:mysteries_path,method: :post,local:true do |f| %>
  <div class="row mt-2">
    <div class="col-sm-8 form-group">
      <%= f.label :タイトル %><span class="small  badge badge-warning ml-2">必須</span>
      <%= f.text_field :title ,placeholder:"タイトルを入力" ,class:"form-control" %>
    </div>

    <div class="col-sm-8 form-group">
      <%= f.label :ジャンル %><span class="small  badge badge-warning ml-2">必須</span><br>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "-- 選択してください --" ,class:"form-control" %>
    </div>

    <div class="col-sm-8 form-group">
      <%= f.label :問題文 %><span class="small  badge badge-warning ml-2">必須</span>
      <%= f.text_area :question ,placeholder:"この問題を解いてください",class:"form-control" %>
    </div>

    <div class="col-sm-8 form-group">
      <%= f.label :問題画像 %><span class="small  badge badge-warning ml-2">必須</span><br>
      <%= f.file_field :question_image ,class:"form-control-file" %>
    </div>

    <div class="col-sm-8 form-group">
      <%= f.label :解答 %><span class="small  badge badge-warning ml-2">必須</span><br>
      <%= f.text_field :answer, placeholder:"答えのみを記入してください",class:"form-control" %>
    </div>

    <div class="col-sm-8 form-group">
      <%= f.label :解答画像 %>
      <%= f.file_field :answer_image ,class:"form-control-file" %>
    </div>

    <div class="col-sm-8 form-group">
      <%= f.label :解説 %><br>
      <%= f.text_area :description ,placeholder:"ここに解説を記入してください",class:"form-control" %>
    </div>

    <div class="col-sm-8 form-group">
      <%= f.label :ヒント %><br>
      <%= f.text_area :hint ,placeholder:"ヒントを記入してください",class:"form-control" %>
    </div>

    <div class="col-sm-8 form-group">
      <%= f.label :タグ %><br>
      <%= f.text_field :tag_list, value: @mystery.tag_list.join(',') ,class:"form-control" %>
    </div>

    <div class="col-sm-4"></div>

    <div class="col-sm-3 form-group" id="select">
      <%= f.label :公開設定 %><br>
      <%= f.select :status, Mystery.statuses_i18n.invert,{prompt: false},class:"form-control select" %>
    </div>

    <div class="col-sm-9"></div>

    <div class="col-sm-5 form-group" id="datetime">
      <%= f.label :公開日時 %><span class="small  badge badge-warning ml-2">必須</span><span> (※1時間おきに設定できます。)</span><br>
      <%= f.datetime_select :published_at, {:minute_step => 60},class:"form-contro" %>
    </div>

    <div class="col-sm-12 mt-3 form-group">
      <%= f.submit "投稿",class:"px-5 btn btn-success" %>
    </div>

  </div>
  <% end %>

</div>

<!--公開設定によって公開時間を表示・非表示-->
<script>
  $("#datetime").hide();

  $(".select").change(function(){
    var select_val = $(".select").val();
    if (select_val == "publish_wait"){
      $("#datetime").show();
    }else if(select_val == "published"){
      $("#datetime").hide();
    }
  });
</script>