<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-3">
      <h1 class="under"><%= @mystery.title %></h1>
      <h3 class="mt-3"><span class="badge badge-info mr-3 center-block"><%= @mystery.genre.name %></span> Q. <%= @mystery.question %></h3>
      <p class="mt-3">
        <%= link_to @mystery.user.name,user_path(@mystery.user) %> | <%= @mystery.created_at.to_s(:datetime_jp_show) %></p>
    </div>

    <div class="col-sm-9">
      <%= image_tag @mystery.question_image.variant(resize:'800x1200') %>
    </div>
    <div class="col-sm-3">
      <% if @mystery.hint.blank? %>
      <p class="btn btn-outline-dark">ヒント</p>
      <div class="mb-5">
        <p class="text-nowrap">ごめんなさい、ヒントはありません。。。</p>
      </div>
      <% else %>
      <p><a class="btn btn-primary toggle-btn" data-toggle="collapse" href="#hint" role="button">ヒント<span class="small"> (クリックで表示)</span></a></p>
      <div class="collapse mb-5" id="hint" data-parent="#hint">
        <h5 class="text-nowrap"><%= @mystery.hint %></h5>
      </div>
      <% end %>

      <p>
        <a class="btn btn-danger toggle-btn" data-toggle="collapse" href="#answer" role="button">
          答え<span class="small"> (クリックで表示)</span></a>
      </p>
      <div class="collapse" id="answer" data-parent="#answer">
        <h2 class="text-nowrap mb-3">「<%= @mystery.answer %>」</h2>
        <div class="mt-5">
          <%= link_to "解説を見る/コメントをする" ,answer_path(@mystery) ,class:"btn btn-outline-dark btn-sm" %>
        </div>
      </div>
    </div>

    <div class="col-sm-9 mt-5 mb-3">
      <h3 class="mb-3"><i class="far fa-comment"></i> コメント(全<%= @mystery.comments.count %>件)</h3>
      <% if @mystery.comments.blank? %>
        <p>コメントはありません</p>
      <% else %>
        <% @mystery.comments.each do |comment| %>
          <div class="media mb-3">
            <%= image_tag comment.user.image.variant(resize:"50x50") ,class:"align-self-start" %>
            <div class="media-body ml-3">
              <strong><%= link_to comment.user.name,user_path(comment.user) %></strong>
              <p class="fw-light"><%= comment.comment %></p>
            </div>
            <% if current_user == comment.user %>
              <%= link_to "編集",edit_mystery_comment_path(@mystery,comment),class:"btn btn-outline-dark btn-sm mr-3" %>
              <%= link_to "削除",mystery_comment_path(@mystery,comment),method: :delete ,class:"btn btn-danger btn-sm" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>