  <!--ジャンル検索用-->

  <div class="col-sm-2">
    <%= link_to mysteries_path,class:"text-dark" do %>
      全て(<%= mysteries.count %>)
    <% end %>
  </div>

    <% genres.each do |genre| %>
    <div class="col-sm-2">
      <%= link_to search_path('search[value]': genre.name),class:"text-dark" do %>
        <%= genre.name %>(<%= genre.mysteries.where(status: "published").count %>)
      <% end %>
    </div>
    <% end %>
