<header class="mb-5">
  <div class="text-center">
  <%= link_to root_path ,class:"navbar-brand" do %>
    <i class="far fa-question-circle"></i> <b>ロゴ画像</b> <i class="far fa-question-circle"></i>
  <% end %>
  </div>

  <nav class="navbar navbar-dark bg-dark justify-content-center">
    <% if user_signed_in? %>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to "Home",root_path ,class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "謎一覧",mysteries_path ,class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "マイページ",user_path(current_user),class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "投稿する",new_mystery_path,class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト",sign_out_path,method: :delete,class:"nav-link text-white" %>
        </li>
      </ul>
    <% elsif admin_signed_in? %>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to "ユーザー管理",admins_users_path ,class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "謎管理",admins_mysteries_path,class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "ジャンル管理",admins_genres_path,class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト",admins_sign_out_path,class:"nav-link text-white" %>
        </li>
      </ul>
    <% else %>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to "Home",root_path ,class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "About",about_path ,class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録",sign_up_path,class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン",sign_in_path,class:"nav-link text-white" %>
        </li>
      </ul>
    <% end %>
  </nav>

  <div class="ml-3 mt-3">
    <span class="under text-dark"><%= notice %></span>
    <span class="under text-dark"><%= alert %></span>
  </div>

</header>